/* formats for the header section with name, title, and logo */
.header_text {
    color: gray;
}

#name_heading {
    text-transform: uppercase;
}

.portfolio-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .25rem solid #eee;
}

#featured_subheader {
    color: gray;
    padding-left: .5em;
}

.project_title {
    text-transform: uppercase;
    text-align: center;
}