/* make responsive adjustments for different screen sizes */
@media screen and (max-width: 768px) {
    html {
        font-size: 75%;
    }
}

@media screen and (min-width: 769px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 960px) {
    html {
        font-size: 125%;
    }
}

/* formats for the header section with name, title, and logo */
.header-text {
    color: gray;
}

.header-text-row {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.header-name {
    text-transform: uppercase;
}

/* formats for breaks between sections separating content */
.section-break {
    padding-bottom: 1.25em;
    margin-bottom: 2em;
    border-bottom: 0.25em solid #eee;
}

/* style for featured work section */
.featured-work-header {
    color: gray;
    padding-left: 0.5em;
}

.project-title {
    text-transform: uppercase;
    text-align: center;
}

.project-link {
    text-align: center;
}

.image-column {
    padding: 2em;
}

/* style for about me section */
.about-me-header {
    color: gray;
    padding-left: 0.5em;
    padding-bottom: 1em;
}