/* make responsive adjustments for different screen sizes */
@media screen and (max-width: 768px) {
    html {
        font-size: 75%;
    }
}

@media screen and (min-width: 769px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 960px) {
    html {
        font-size: 125%;
    }
}

/* formats for the header section with name, title, and logo */
.header_text {
    color: gray;
}

.header_text_row {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.header_name {
    text-transform: uppercase;
}

/* formats for breaks between sections separating content */
.section_break {
    padding-bottom: 1.25em;
    margin-bottom: 2em;
    border-bottom: 0.25em solid #eee;
}

/* style for featured work section */
.featured_work_header {
    color: gray;
    padding-left: 0.5em;
}

.project_title {
    text-transform: uppercase;
    text-align: center;
}

.project_link {
    text-align: center;
}

.image_column {
    padding: 2em;
}

/* style for about me section */
.about_me_header {
    color: gray;
    padding-left: 0.5em;
    padding-bottom: 1em;
}